* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: rgb(244, 232, 217);
}

.main {
    max-width: 1000px;
    min-height: 100vw;
    margin: auto;
    background-color: rgba(129, 177, 162, 0.2);
    padding-bottom: 50px;
    padding-top: 50px;
}

.main.index {
    background-color: transparent;
}

.header {
    display: flex;
    align-items: center;
}

.plates {
    display: flex;
    justify-content: space-between;
}


h1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0px;
    background-color: rgb(129, 177, 162);
}

h2 {
    padding: 25px;
    width: 220px;
    text-align: center;
    margin: 15px;
    outline: 3px dotted rgb(0, 0, 0);
}

h3 {
    padding: 25px;
    width: 220px;
    text-align: center;
    width: 300px;
}

.recipe-container a {
    background-color: rgba(244, 232, 217, 0.8);
    padding: 10px;
    border-radius: 15px;
    outline: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.recipe-container a:hover {
    text-decoration: underline;
}

.recipe-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    width: 1000px;
    margin-top: 110px;
}

.block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo {
    text-align: center;
    position: relative;
    width: max-content;
    margin: 60px 0px;
}

.photo p {
    padding: 10px;
}

ul {
    display:block;
    padding: 20px;
    margin: auto;
}

ol {
    display: block;
    margin: auto;
    margin-left: -70px;
    margin-top: 40px;
    margin-bottom: 20px;
}

li {
    max-width: 600px;
    margin-top: 15px;
    margin: auto;
    padding: 5px;

}

.ingredients {
    display: flex;
    justify-content: row;
}

.home {
    z-index: 10;
    width: 100px;
    padding-left: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: absolute;
}

.home:hover {
    text-decoration: underline;
}

p {
    padding: 10px;
    margin-left: 10px;
}